body { 
    margin: 0;
    background: rgba(92, 204, 204, 0.521);
    }
#sidebar, #content { position: absolute; } 
#sidebar, #content { padding: 5px; }
#header {
    height: 80px; /* Высота слоя */ 
    background: #006363;
    border-bottom: 3px solid #5CCCCC;
}
#header a, #content a{
    text-decoration: none;
}
#sidebarRight { 
    width: 120px; 
    background: #1D7373; 
    top: 80px; /* Расстояние от верхнего края */ 
    bottom: 0; /* Расстояние снизу  */
    position: absolute;
    right:0;
    padding: 8px; 
    height: initial;
    border-left: 3px solid #5CCCCC;
}
#sidebarRight h1 {
    padding: 1px; 
    color: #FF9640; 
    font-family: 'Abel', cursive;
    text-align: left;
    font-size: 15px;
}
#header h1 { padding: 20px; 
        margin: 0; 
        color: #FF7400; 
        font-family: 'Lobster', cursive; 
        font-size: 40px;
        text-align: left; 
}
#sidebar { 
    width: 120px; 
    background: #1D7373; 
    border-right: 3px solid #5CCCCC;
    top: 80px; /* Расстояние от верхнего края */ 
    bottom: 0; /* Расстояние снизу  */
}
#sidebar h1 {
    padding: 5px; 
    color: #FF9640; 
    font-family: 'Abel', cursive;
    text-align: right;
    font-size: 15px;

}
#content {
    top: 82px; /* Расстояние от верхнего края */
    left: 150px; /* Расстояние от левого края */ 
    right: 120px; /* Расстояние от левого края */ 
    bottom: 0;
    font-family: 'Darker Grotesque', sans-serif;
    text-align: absolute;
    font-size: 20px;
    color: rgb(83, 38, 0); 
    overflow: scroll;   
    overflow-x: hidden;
}
#content h1 {
    text-align: left;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    color: #A64B00; 
    font-size: 30px;
    border-top: 3px solid #5CCCCC;
    border-bottom: 3px solid #5CCCCC;
}
#content a:hover {
    text-decoration: underline;
}
#content hr {
    background-color:#1D7373; 
    border: 0px;
    height: 2px;
}   